<div id="main-content" class="container-fluid h-100">
  <div class="row content-wrapper">
    <div class="side-wrapper col-sm-2 col-md-2 col-3 d-flex flex-column border-end pe-0 ">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-sm-10 col-md-10 col-9 sub-wrapper">
      <div class="col">
        <div class="col-12 border-bottom">
          <app-header></app-header>
        </div>
        <div class="col-12 ">
          <app-main-section></app-main-section>
        </div>
      </div>
    </div>
  </div>
</div>

